<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<div> 
		<h2>Welcome to Lausanne Commune Website</h2>
	</div>
	<div> 
		<h3>1. Load the list of residents into the application and display it</h3>
		<a href="/userList">Get list</a>
	</div>
	<div> 
		<h3>2.Generate a report listing all resident families with the number of adult and children (less than 18) per family sorted by family name</h3>
		<a href="/sortedUserlist">Get sorted list</a>
	</div>
	<div>
		<h3>3. Search a resident using email address</h3>
		<form action="/checkUser" method="get">
		  Email: <input type="text" name="email"/><br/>
		  <input type="submit" value="Submit"/>
		 </form>
	</div>
</body>
</html>